{{> navbar user}}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron">
                <h4 class="display-6 centering">Hello, {{user.email}}!</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <legend class = "secret-pad">.......................</legend>
            <div id="forum-posts">
            {{#each posts}}
            <div class="forum-post-card card text-white bg-primary mb-3">
                <div class="card-header navbar-coloring"><h4 class="text-white">{{title}}</h4></div>
                <div class="card-body navbar-coloring">
                    <p class="card-text">{{body}}</p>
                    by {{'User.email'}}
                    @ {{createdAt}}
                </div>
            </div>
            {{/each}}
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-md">
            <form class="forum-post">
                <fieldset>
                    <legend class = "centering big-words">Post your blurbs!</legend>
                    <div class = "secret-pad">...................</div>
                    <div class = "secret-pad">...................</div>
                    <p>
                        Got a small notice that doesn't fit in an event post? Share it here! The same people will see it, so you can keep everyone in the loop.
                    </p>
                    <div class="form-group">
                        <label for="title-input">Title</label>
                        <input type="text" class="form-control" id="title-input" aria-describedby="postHelp"
                            placeholder="Enter your post title">
                    </div>
                    <div class="form-group">
                        <label for="body-input">Content</label>
                        <textarea class="form-control" id="body-input" name="body"
                            placeholder="Enter your post body"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary navbar-coloring">Post!</button>
                </fieldset>
            </form>
            <br />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Getting references to our form and inputs
        const postForm = $("form.forum-post");
        const titleInput = $("input#title-input");
        const bodyInput = $("textarea#body-input");
        // When the form is submitted, we validate there's a title and body entered
        postForm.on("submit", function (event) {
            event.preventDefault();
            console.log(bodyInput.val(), titleInput.val())
            var postData = {
                title: titleInput.val().trim(),
                body: bodyInput.val().trim()
            };
            if (!postData.title || !postData.body) {
                return;
            }
            // If we have a title and password  we run the sendPost function and clear the form
            sendPost(postData.title, postData.body);
            titleInput.val("");
            bodyInput.val("");
        });
        // sendPost does a post to our "api/posts" route and if successful, redirects us the the forum page
        function sendPost(title, body) {
            $.post("/api/posts", {
                title: title,
                body: body
            })
                .then(function () {
                    window.location.replace("/dashboard");
                    // If there's an error, log the error
                })
                .catch(function (err) {
                    console.log(err);
                });
        }
    });
</script>